<?xml version="1.0" encoding="utf-8" ?>
<RevitCommon>
	<paths>
		<!-- This path could be used to log tool usage -->
	  	<log-path></log-path>
	</paths>
	<!--The 'name' property of this node should reflect the name of the assembly-->
	<plugin name="ExcelSchedule">
		<!-- the help-path can be a file, local or network accessible, or URL for a web documentation -->
		<help-path type="file"></help-path>
		<!-- By changing the inner text here you can change on which ribbon tab the buttons are located -->
		<tab-name>Add-Ins</tab-name>
		<!-- By changing the inner text here you can change on which panel the buttons are located on the above tab -->
		<panel-name>Views</panel-name>
	</plugin>
</RevitCommon>
